<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>CFBundleIconFile</key>
    <string>icon2.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleGetInfoString</key>
    <string>A great product by LBProductions</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleExecutable</key>
    <string>@EXECUTABLE@</string>
    <key>CFBundleIdentifier</key>
    <string>lbproductions.github.com.psnewmodel</string>
    <key>CFBundleShortVersionString</key>
    <string>@SHORT_VERSION@</string>
    <key>CFBundleVersion</key>
    <string>@SHORT_VERSION@</string>
    <key>SUPublicDSAKeyFile</key>
    <string>dsa_pub.pem</string>

    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.github.lbproductions.projectstats</string>
            <key>UTTypeReferenceURL</key>
            <string>https://github.com/lbproductions/psnewmodel/</string>
            <key>UTTypeDescription</key>
            <string>ProjectStats Library</string>
            <key>UTTypeIconFile</key>
            <string>public.jpeg.icns</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>psdb</string>
                </array>
                <key>public.mime-type</key>
                <string>database/psdb</string>
            </dict>
        </dict>
    </array>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>com.github.lbproductions.projectstats</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.github.lbproductions.projectstats</string>
            </array>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>           
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
			<array>
				<string>pspkg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ProjectStats Package</string>
			<key>CFBundleTypeIconFile</key>
			<string>icon2.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>   
			<key>LSTypeIsPackage</key>  
			<string>1</string>      
        </dict>
    </array>

    <key>BreakpadProduct</key>
    <string>ProjectStats</string>
    <key>BreakpadProductDisplay</key>
    <string>ProjectStats</string>
    <key>BreakpadVendor</key>
    <string>Niklas and Niclas</string>
    <key>BreakpadVersion</key>
    <string>@SHORT_VERSION@</string>
    <key>BreakpadURL</key>
    <string>http://localhost:1127/post</string>
    <key>BreakpadReportInterval</key>
    <string>0</string>
    <key>BreakpadLogFiles</key>
    <array>
    <string>breakpad.log</string>
    </array>
    <key>BreakpadLogFileTailSize</key>
    <string>40000</string>
</dict>
</plist>
